.smallmap-container {
    grid-column: 1;
    grid-row: 2;
    z-index: 1;
}

.smallmap {
    width: 512px;
    height: 512px;
}

.canvas-container {
    grid-column: 3;
    grid-row: 2;
}

#hidden-canvas {
    width: 512px;
    height: 512px;
    display: none;
}

#canvas {
    width: 512px;
    height: 512px;
    position: absolute;
}
#map-canvas {
    image-rendering: pixelated;
    width: 512;
    height: 512px;
    position: absolute;
}

.temporary-button {
    grid-column: 3;
    grid-row: 2;
}
.loader {
    width: 512px;
    height: 512px;
    background-color: rgba(0, 0, 0, 0.7)
}

.loading-text {
    align-content: center;
    position: absolute;
}