.RadarView {
    display: grid;
    grid-template-columns: 4.5fr 1fr;
    grid-template-rows: 9vh 6vh 85vh;
}

.radarmap-container {
    grid-column: 1 / span 2;
    grid-row: 2;
    height: 100vh;
    background-color: #123752;
    color: lightgray;
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
    grid-template-rows: 5% 95%;
    padding-left: 125px;
}

.radarheader {
    grid-column: 1 / span 2;
    grid-row: 2;
    background-color: #123752;
    color: lightgray;
    padding-left: 125px;
    padding-top: 1%;
}

