.RadarView {
    display: grid;
    grid-template-columns: 4.5fr 1fr;
    grid-template-rows: 9vh 91vh;

}

.radarmap-container {
    grid-column: 1 / span 2;
    background-color: #123752;
    color: lightgray;
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
    grid-template-rows: 10% 90%;
    padding-left: 10%;
}