.RadarView {
    display: grid;
    grid-template-columns: 4.5fr 1fr;
    grid-template-rows: 9vh 91vh;
}

.previewContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}