.App-header {
    background-color: #032136;
    position: fixed;
    width: 100%;
    height: 9vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: calc(20px + 2vmin);
    justify-content: center;
    color: #708EA4;
    padding-left: 125px;
    padding-right: 125px;
}

.App-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}