.App-header {
    background-color: #10627a;
    grid-column: 1 / span 4;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: calc(20px + 2vmin);
    justify-content: center;
}

.App-title {
    margin-left: 3%;
}