.App-header {
    background-color: #032136;
    grid-column: 1 / span 4;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: calc(20px + 2vmin);
    justify-content: center;
    color: #708EA4;
    padding-left: 10%;
}
