.map-container {
    grid-column: 1 / span 4;
    grid-row: 2;
    background-color: #123752;

    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    grid-template-rows: 7% 93%;
    padding-left: 125px;
    color: lightgray;
}

.mapbox {
    background-color: #123752;
    grid-column: 1 / span 2;
    grid-row: 2;
}

.map-title {
    font-size: x-large;
    font-weight: bold;
    margin-top: 2%;
    grid-row: 1;
    grid-column: 1 / span 2;
}

.center-aligned-element {
    text-align: center;
}

.infowindow-text {
    color: black;
}
