.map-container {
    grid-column: 1 / span 4;
    grid-row: 2;
    background-color: #123752;

    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    grid-template-rows: 7% 93%;
    padding-left: 10%;
    color: lightgray;
}

.mapbox {
    background-color: #123752;
    grid-column: 1 / span 2;
    grid-row: 2;
}

.map-title {
    font-size: x-large;
    font-weight: bold;
    margin-top: 2%;
    grid-row: 1;
    grid-column: 1 / span 2;
}

.center-aligned-element {
    text-align: center;
}

.infowindow-text {
    color: black;
}

/*
Source for loader: https://www.w3schools.com/howto/howto_css_loader.asp
 */
.spinner {
    z-index: 1;
    border: 16px solid orange; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}